$color-white: #FFFFFF; //fonts and background
$color-white-secondary: #FAFAFA; //some fonts ex. in slider
$color-background: #E5E5E5; //background color
$color-light-grey: #D6D6D6; //decoration lines
$color-grey: #6E6E6E; //fonts
$color-black: #313131; //fonts, buttons
$color-black-secondary: #4B4B4B;
$color-black-tertiary: #000000; // page subtitle color
